HELP.md
.gradle
build/
caches/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Gradle build artifacts
.gradle/
**/*.bin
**/*.lock
**/*.marker
**/*.class
**/*.jar
**/*.pom
**/*.module

# Gradle test logs
**/results.bin
**/metadata.bin
**/instrumentation-*.bin
**/descriptor.bin
problems-report*.html