<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.invest_mate_ai.user.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.invest_mate_ai.user.vo.UserVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="identityKey" column="identity_key"/>
        <result property="userRole" column="role"/>
        <result property="userStatus" column="user_status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="UserResultMap">
        SELECT id
             , name
             , nickname
             , email
             , identity_key
             , role
             , user_status
             , created_at
             , updated_at
          FROM users
         WHERE id = #{id}
    </select>

    <select id="findByIdentityKey" parameterType="string" resultMap="UserResultMap">
        SELECT id
             , name
             , nickname
             , email
             , identity_key
             , role
             , user_status
             , created_at
             , updated_at
          FROM users
         WHERE identity_key = #{identityKey}
    </select>

    <insert id="insertUsers" parameterType="com.example.invest_mate_ai.user.vo.UserVo"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">

        INSERT INTO users (
                             name
                           , nickname
                           , email
                           , identity_key
                           , role
                           , user_status
        )
        VALUES (
                  #{name}
                , #{nickname}
                , #{email}
                , #{identityKey}
                , #{userRole}
                , #{userStatus}
        )
    </insert>

    <update id="updateUsers">
        UPDATE users
           SET nickname = #{request.nickname}
             , updated_at = CURRENT_TIMESTAMP
         WHERE id = #{request.id}
    </update>

    <update id="updateUserStatus">
        UPDATE users
           SET user_status = #{userStatus}
             , updated_at = CURRENT_TIMESTAMP
         WHERE id = #{userId}
    </update>

</mapper>
